* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  nav {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
  }
  .ulist{
    width: 300px;
    display: flex;
    justify-content: space-between;
  }
  li {
    display: inline;
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: medium;
  }

 .header_button {
    background-color: white;
    color: black;
    padding: 9px;
    border: none;
  }
  .footer_button {
    background-color: white;
    color: black;
    padding: 9px;
    border: none;
  }
  footer{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerlist{
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    width: 1000px;
    padding: 20px;
  }
  @media (max-width: 820px) {
    
  .ulist{
    width: 70%;
    display: flex;
    justify-content: space-around;
  }
  }